<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/style.css">

  <title>Hello, world!</title>
</head>

<body>


  {{!-- adding navbar.hbs --}}
  {{>navbar}}

  <div class="container">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic ullam numquam omnis consequuntur voluptatem debitis,
    saepe ex vitae, doloribus doloremque dolore quia repellat. Laboriosam culpa magni similique quibusdam ex sunt
    consectetur ullam aspernatur amet necessitatibus provident obcaecati repellendus dolores, quisquam autem numquam
    saepe! Quia assumenda odit id veritatis error sit, ut, voluptates dolorem consequuntur voluptatem porro animi,
    explicabo illo eveniet suscipit veniam necessitatibus deleniti facere cupiditate. Accusamus alias voluptate
    doloribus sequi blanditiis eveniet suscipit pariatur nostrum natus, in quae quisquam numquam voluptatibus aliquid
    assumenda neque deleniti, harum et praesentium sunt recusandae? Tenetur quam beatae, cupiditate optio iure delectus
    iusto asperiores? Fugiat ad distinctio, recusandae repudiandae necessitatibus perferendis sapiente dolorem tempore
    deleniti, dolorum praesentium, reiciendis iste delectus ducimus! Vitae explicabo odit esse veritatis enim, debitis
    autem aperiam sed voluptate tenetur alias provident quibusdam laborum maxime quisquam et error voluptatum dolores
    numquam officiis nemo perspiciatis ut. Reprehenderit fuga doloribus molestias corporis officiis cum, molestiae
    laboriosam exercitationem numquam eaque, inventore sunt commodi voluptate placeat mollitia, rerum cupiditate.
    Delectus, minima. Natus quia nobis quasi quo. Necessitatibus qui perferendis dicta similique consequuntur nisi quam
    harum, vel maiores nihil quas a, tempora corporis? Temporibus ratione aperiam, cupiditate sit molestiae optio. Esse
    distinctio, non vitae maiores ipsa inventore nostrum molestiae beatae in nulla adipisci rerum, quasi totam officia.
    A, hic ipsa, quidem ab magnam in sit neque dolorem enim pariatur ad aliquid animi ratione. Quibusdam vitae enim
    tempore necessitatibus! Est dolor dolorum iusto deserunt ratione porro quaerat alias veritatis temporibus, quos
    voluptas tempore ad. Illo numquam voluptas a saepe in nisi nostrum laudantium, reprehenderit blanditiis voluptates
    illum ducimus? Ea delectus rem totam. Doloribus dignissimos deserunt soluta veritatis neque ad necessitatibus
    ducimus voluptatibus voluptates. Laboriosam, nulla eaque. Doloribus culpa sed aspernatur eius, minima accusamus
    repellendus iure quaerat nulla veniam ipsum iusto cumque excepturi quidem quisquam ullam omnis? Libero deserunt
    laudantium recusandae. Reprehenderit earum ipsa distinctio aliquam hic temporibus natus ipsum nihil, sint minus
    omnis iure sunt ea dolorem dicta iste doloremque amet asperiores tenetur delectus incidunt error. Excepturi
    quisquam, laboriosam ea odit, officia voluptatum autem quia suscipit perferendis error molestiae necessitatibus
    illum cum aliquam earum minus, voluptates nemo! Deleniti at nostrum a quasi veniam debitis maxime, praesentium,
    quam, ducimus nisi dolor minima fugiat! Nobis minima dolor ad dolorem temporibus deleniti cumque fugiat, facilis
    laborum praesentium dicta illo sunt vero explicabo tenetur dolores nihil iure commodi quod quo molestias qui? Eos
    esse ex recusandae exercitationem doloremque fugit hic rem numquam? Aut, dolores? Delectus nesciunt similique
    asperiores fugiat blanditiis praesentium voluptatem nemo? Praesentium odio numquam quas sit autem a iusto distinctio
    repudiandae ad amet consectetur aperiam nesciunt, aliquam, non laboriosam repellat hic harum dolorem illo? Deleniti
    distinctio saepe excepturi totam atque voluptatem ab vitae hic labore dolor ratione, sint aperiam inventore cum odio
    ullam sequi placeat repudiandae laborum tenetur optio eligendi pariatur. Odit quaerat, architecto laudantium ut fuga
    quia deserunt excepturi dicta, provident quae dolores adipisci cupiditate possimus. Ipsa asperiores vel natus?
    Libero, voluptate. Libero cumque voluptatum sed iste recusandae nihil autem dolores, error reiciendis labore
    eveniet, veniam provident expedita?
  </div>

  {{>footer}}
  {{!-- footer is added here --}}


  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
</body>

</html>