<!-- FOOTER -->

<style>
  .maintain{
    position: relative;
    top: 15px;
  }
</style>

  <footer class="pt-3 text-muted text-center text-small bg-dark login maintain">
    <p class="mb-1">© 2017-2018 Company Name</p>
    <ul class="list-inline">
      <li class="list-inline-item pb-3 "><a href="#">Privacy</a></li>
      <li class="list-inline-item "><a href="#">Terms</a></li>
      <li class="list-inline-item "><a href="#">Support</a></li>
    </ul>
  </footer>